@model WebApp.ViewModels.Poll.PollIndexViewModel

<h1 class="text-center">Leave us feedback</h1>
<h4 class="text-center">Answer to polls</h4>

@if (Model.Error != null)
{
    <p class="errorClass">@Model.Error</p>
}
@if (Model.Done != null)
{
    <p class="alert-success text-center">@Model.Done</p>
}
@if (User.IsInRole("Admin"))
{
    <p class="text-center">
        <a class="text-dark" asp-action="Create">Add new Poll
            <img class="extra-small-icon" src="~/js/images/right-arrow.png" alt=""/></a>
    </p>

}
<table class="table table-hover">
    <tbody>
    @foreach (var item in Model.Polls) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a class="text-dark" asp-action="Details" asp-route-id="@item.Id">Info</a> |
                    <a class="text-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a class="text-dark" asp-controller="PollQuestion" asp-action="Create" asp-route-pollId="@item.Id">Add Question</a> |
                    <a class="text-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>   
            }
            else
            {
                <td>
                    <a class="btn btn-info" asp-controller="UserAnswer" asp-action="Create" asp-route-id="@item.Id" asp-route-number="1" asp-route-poll="true">
                        Leave feedback
                    </a>
                </td>
            }
        </tr>
    }
    </tbody>
</table>