@model Domain.App.Identity.AppUser

@{
    //ViewData["Title"] = @Base.Resources.Views.Shared.Basic.Delete;
}

<h4 class="text-center">@Base.Resources.Views.Shared.Basic.SureDeleteThis</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificationCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificationCode)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@Base.Resources.Views.Shared.Basic.Delete" class="btn btn-danger" /> |
        <a asp-action="Index">@Base.Resources.Views.Shared.Basic.BackToList</a>
    </form>
</div>