@model PublicApi.DTO.v1.Registration

@{
    //ViewData["Title"] = @Base.Resources.Views.Shared.Basic.Details;
}

<h4 class="text-center">@Base.Resources.Views.Shared.Basic.Details</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Competition)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Competition!.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Team!.Name)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Base.Resources.Views.Shared.Basic.Edit</a> |
    <a asp-action="Index">@Base.Resources.Views.Shared.Basic.BackToList</a>
</div>
