@model PublicApi.DTO.v1.Team

<h4 class="text-center">@Model.Name</h4>
<hr />
<dl class="row">
    <dt class = "col-sm-4">
        @Html.DisplayNameFor(model => model.Country)
    </dt>
    <dd class = "col-sm-8">
        @Html.DisplayFor(model => model.Country!.Name)
    </dd>
    <dt class = "col-sm-4">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class = "col-sm-8">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class = "col-sm-4">
        @Html.DisplayNameFor(model => model.PlayersAmount)
    </dt>
    <dd class = "col-sm-8">
        @Html.DisplayFor(model => model.PlayersAmount)
    </dd>
</dl>