@using System.Threading
@using System.Globalization
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=yes" />
    <title>Footy</title>
    <link rel="stylesheet" href="~/js/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/sb-admin-2.css" asp-append-version="true"/>
    @await RenderSectionAsync("HeadScripts", required: false)
</head>
<body id="page-top" class="">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Competitions" asp-action="Index">
            <div class="sidebar-brand-icon">
                <img class="small-icon" src="~/js/images/cup.png" alt=""/>
            </div>
            <div class="sidebar-brand-text mx-3">Footy <sup></sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Competitions" asp-action="Index">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>@Base.Resources.Views.Shared._Layout.Competitions</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>@Base.Resources.Views.Shared._Layout.Statistics</span>
            </a>
        </li>

        <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Games" asp-action="Index">
                        <i class="fas fa-fw fa-chart-area"></i>
                        <span>@Base.Resources.Views.Shared._Layout.Fixtures</span>
                    </a>
                </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            @Base.Resources.Views.Shared._Layout.Contact
        </div>

        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Competitions" asp-action="Create">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>@Base.Resources.Views.Shared._Layout.SubmitCompetition</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="CompetitionTeams" asp-action="Create">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>@Base.Resources.Views.Shared._Layout.RegisterToCompetition</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Reports" asp-action="Create">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>@Base.Resources.Views.Shared._Layout.ReportProblem</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <partial name="_LoginPartial"/>

                <div class="topbar-divider d-none d-sm-block"></div>

                <partial name="_LanguageSelection"/>

                <!-- Nav Item - User Information -->
                @if (User.IsInRole("Admin"))
                {
                    <partial name="_AdminNavBar"/>
                }
                @if (User.IsInRole("FootyUser"))
                {
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="very-small-icon" src="~/js/images/network.png" alt=""/>
                            @Base.Resources.Areas.TeamManager.NavBar.MyTeams
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated--grow-in" aria-labelledby="navbarDropdown">
                            <h6 class="collapse-header">@Base.Resources.Areas.TeamManager.NavBar.Existing</h6>
                            <a class="dropdown-item" asp-area="" asp-controller="Teams" asp-action="MyIndex">@Base.Resources.Areas.TeamManager.NavBar.Teams</a>
                            <a class="dropdown-item" asp-area="" asp-controller="CompetitionTeams" asp-action="TeamManagerIndex">@Base.Resources.Areas.TeamManager.NavBar.AttendingCompetitions</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Games" asp-action="TeamManagerIndex">@Base.Resources.Areas.TeamManager.NavBar.Games</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Persons" asp-action="Index">@Base.Resources.Areas.TeamManager.NavBar.Members</a>
                            <hr class="dropdown-divider"/>
                            <h6 class="collapse-header">@Base.Resources.Areas.TeamManager.NavBar.AddNew</h6>
                            <a class="dropdown-item" asp-area="" asp-controller="Teams" asp-action="Create">@Base.Resources.Areas.TeamManager.NavBar.Team</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Persons" asp-action="Create">@Base.Resources.Areas.TeamManager.NavBar.TeamMember</a>
                            <a class="dropdown-item" asp-area="" asp-controller="TeamPersons" asp-action="Create">@Base.Resources.Areas.TeamManager.NavBar.TeamMemberToTeam</a>
                        </div>
                    </li>
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="very-small-icon" src="~/js/images/competition.png" alt=""/>
                            @Base.Resources.Areas.Organiser.NavBar.MyCompetitions
                        </a>
                        <div class="dropdown-menu dropdown-menu-right animated--grow-in" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-area="" asp-controller="Competitions" asp-action="MyIndex">@Base.Resources.DTO.v1.Competition.Competitions</a>
                            <a class="dropdown-item" asp-area="" asp-controller="Games" asp-action="OrganiserIndex">@Base.Resources.Areas.TeamManager.NavBar.Games</a>
                            <a class="dropdown-item" asp-area="" asp-controller="CompetitionTeams" asp-action="OrganiserIndex">@Base.Resources.DTO.v1.Competition.Participations</a>
                        </div>
                    </li>
                }
            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <!-- /.container-fluid -->
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright © Footy 2021 | 
                            <a asp-area="" asp-controller="Home" asp-action="Privacy">@Base.Resources.Views.Shared._Layout.Privacy</a>
                            </span>
                    </div>
                </div>
            </footer>
        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button
<a class="scroll-to-top rounded" href="#page-top" style="display: none;">
    <i class="fas fa-angle-up"></i>
</a>
-->


<!-- Bootstrap core JavaScript-->
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/jquery.validate.globalize.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

@{    
	var currentCultureCode = Thread.CurrentThread.CurrentCulture.Name.Split('-')[0];

    // map .net datetime format strings to flatpickr/momentjs format
    
    // https://flatpickr.js.org/formatting/
    // d - day of month,2 digits
    // j - day of month, no leading zero
    // m - month, 2 digits
    // n - mont, no leading zero
    // y - 2 digit year, Y - 4 digit year
    
    // https://docs.microsoft.com/en-us/dotnet/api/system.globalization.datetimeformatinfo?view=netcore-3.1
    // dd.MM.yyyy or dd/MM/yyyy
    
    var datePattern = Thread.CurrentThread.CurrentUICulture.DateTimeFormat.ShortDatePattern;
    datePattern = datePattern
        .Replace("dd", "d")
        .Replace("MM", "m")
        .Replace("yyyy", "Y");

    // LongTimePattern and ShortTimePattern HH:mm for 23:59,  h:mm tt for 11:59 PM
    var timePattern = Thread.CurrentThread.CurrentUICulture.DateTimeFormat.ShortTimePattern;
    var clock24H = timePattern.Contains("tt") == false;
    timePattern = timePattern
        .Replace("HH", "H")
        .Replace("mm", "i")
        .Replace("ss", "S")
        .Replace("tt", "K");
    var dateTimePattern = timePattern + " " + datePattern;
}

<script>
    // https://github.com/globalizejs/globalize#installation
    $.when(
        $.get("/js/cldr-core/supplemental/likelySubtags.json", null, null, "json"),
        $.get("/js/cldr-core/supplemental/numberingSystems.json", null, null, "json"),
        $.get("/js/cldr-core/supplemental/timeData.json", null, null, "json"),
        $.get("/js/cldr-core/supplemental/weekData.json", null, null, "json"),
        
        $.get("/js/cldr-numbers-modern/main/@currentCultureCode/numbers.json", null, null, "json"),
        $.get("/js/cldr-numbers-modern/main/@currentCultureCode/currencies.json", null, null, "json"),
        
        $.get("/js/cldr-dates-modern/main/@currentCultureCode/ca-generic.json", null, null, "json"),
        $.get("/js/cldr-dates-modern/main/@currentCultureCode/ca-gregorian.json", null, null, "json"),
        $.get("/js/cldr-dates-modern/main/@currentCultureCode/dateFields.json", null, null, "json"),
        $.get("/js/cldr-dates-modern/main/@currentCultureCode/timeZoneNames.json", null, null, "json")
    ).then(function () {
        return [].slice.apply(arguments, [0]).map(function (result) {
            Globalize.load(result[0]);
        });
    }).then(function () {
        // Initialise Globalize to the current culture
        Globalize.locale('@currentCultureCode');
    });
    
    $(function () {
        $('[type="datetime-local"]').each(function (index, value) {
            $(value).attr('type', 'text');
            $(value).val(value.defaultValue);
		    $(value).flatpickr({
		        locale: "@currentCultureCode",
		        enableTime: true,
	    	    altFormat: "@dateTimePattern",
	    	    altInput: true,
	    	    // dateFormat: "Z", // iso format (causes -3h during summer)
	    	    // use direct conversion, let backend deal with utc/whatever conversions
	    	    dateFormat: "Y-m-d H:i:s",
	    	    disableMobile: true,
	    	    time_24hr: @(clock24H.ToString().ToLower()),
		    });
        });

        $('[type="time"]').each(function (index, value) {
            $(value).attr('type', 'text');
            $(value).val(value.defaultValue);
		    $(value).flatpickr({
	    	    locale: "@currentCultureCode",
	    	    enableTime: true,
	    	    noCalendar: true,

	    	    altFormat: "@timePattern",
	    	    altInput: true,
	    	    dateFormat: "H:i", // 24h HH:mm
	    	    disableMobile: true,

	    	    time_24hr: @(clock24H.ToString().ToLower()),
		    });
        });

        $('[type="date"]').each(function (index, value) {
		    $(value).attr('type', 'text');
		    $(value).val(value.defaultValue);
		    $(value).flatpickr({
    		    locale: "@currentCultureCode",
	    	    altFormat: "@datePattern",
	    	    altInput: true,
                disableMobile: true,
	    	    dateFormat: "Y-m-d", // YYYY-MM-DD
		    });
        });
    });
</script>

<!-- Core plugin JavaScript
<script src="~/lib/jquery/jquery-easing/jquery.easing.min.js"></script>
-->
</body>
</html>