@model IEnumerable<PublicApi.DTO.v1.Game>

<table class="table table-hover" id="games-table">
    <thead>
    <tr>
        <th>
            @Base.Resources.DTO.v1.Game.Competition
        </th>
        <th>
            @Base.Resources.DTO.v1.Game.KickOffTime
        </th>
        <th>
            @Base.Resources.DTO.v1.Game.DbGame
        </th>
        <th>
            @Base.Resources.DTO.v1.Game.Score
        </th>
        <th>
            @Base.Resources.DTO.v1.Game.Comment
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Competition!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KickOffTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
        </tr>
    }
    </tbody>
</table>